rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // TODO: Re-enable auth rules after demo
    // Temporarily allow all access for presentation demo
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
